

<%= form_with model: @comment, url:new_user_post_comment , method: :post do |form| %>
<h3>Create new Post</h3>
  <div class="mb-3">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  <div class="mb-3">
    <%= form.text_area :text, class: 'form-control', placeholder: 'Content' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Create post', class: 'btn btn-primary' %>
  </div>
<% end %>

